<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-N8KR9S0EYH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-N8KR9S0EYH');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@vtytvm" />
  <meta property="og:url" content="https://xx-device.herokuapp.com/" />
  <meta property="og:title" content="XenobladeXデバイスリスト" />
  <meta property="og:site_name" content="XenobladeXデバイスリスト ベータ" />
  <meta property="og:description" content="ゼノブレイドクロスでデバイス作る時、少し役に立つかもしれないツールを置いておきます。" />
  <meta property="og:image" content="んなもんねーよ" />
  <title>XenobladeXデバイスリスト</title>
  <link rel="stylesheet" href="./main.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
</head>

<body>
  <div class="container">
    <div id="app">
      <h1>XenobladeXデバイスリスト</h1>

      <!-- ★STEP11 -->
      <p>
        <label class="checkbox" v-for="label in options">
          <input type="radio" v-model="current" v-bind:value="label.value">{{ label.label }}
        </label>

        <!-- ★STEP12 -->
        <span>
          （{{ computedTodos.length }} 件を表示）<br>
          チケット必要枚数:{{ computedTiketSum }},ミラニウム:{{computedMiraCost}}
        </span><br>
        <span>端末を{{ computedOrbit }}周しましょう</span>
    </p>
      <!-- ★STEP4 リスト用テーブル -->
      <table>
        <thead v-pre>
          <tr>
            <th class="comment">デバイス</th>
            <th class="state">状態</th>
          </tr>
        </thead>
        <tbody>
          <!-- ★STEP5 ToDo の要素をループ -->
          <tr v-for="item in computedTodos" v-bind:key="item.id" v-bind:id="'item-'+item.id"
            v-bind:class="{done:item.state}">
            <td>
              <p>{{item.cate}}<br><span class="device">{{item.device}}{{item.comment.rank}}</span> <br class="sp_br"><span class="tips">{{item.comment.tips}}</span></p>
              <p v-for="(mt, index) in item.comment.materials">
                <label v-if="materials[mt]" :id="'ticket-'+item.id+'-'+index"><span class="device" v-text="mt"></span>
                <span v-text="item.comment.material_num[index]+'コ'"></span><br class="sp_br">
                <input type="checkbox"
                    v-bind:value="item.id+'-'+index" v-model="tickets">{{item.comment.ticket[index]}}
                <span v-if="materials[mt]" v-text="'ﾄﾞﾛｯﾌ:ﾟ'+materials[mt].break"></span>
                <br>
                <span class="tips" v-if="materials[mt]">{{materials[mt].info}}</span></label>
              </p>
              <!-- <span v-text="materials[mt]"></span> -->
              <p>
                <span v-text="item.comment.rsrc"></span>
                <span> </span>

                <span v-text="item.comment.rsrc_num"></span>
                <span> ミラニウム:</span>
                <span id="mira-cost" v-text="item.comment.cost"></span><br class="sp_br">
                <span> 最大必要枚数:</span>
                <span id="mira-cost" v-text="sumsTickets(item.comment.ticket)"></span>

              </p>
            </td>
            <td class="state">
              <!-- ★STEP10 状態変更ボタン -->
              <button v-on:click="doChangeState(item)">
                {{ labels[item.state] }}
              </button><br class="sp_br">
              <!-- ★STEP10 削除ボタン -->
              <button v-on:click="doRemove(item)">
                削除
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <p>※削除ボタンはaltキーを押しながらクリックして下さい</p> -->

      <!-- ★STEP6 -->
      <h2>新しいデバイスの追加</h2>
      <form class="add-form" v-on:submit.prevent="doAdd">
        <!-- コメント入力フォーム -->
        <label for=""><span class="sp_none">デバイス名</span>
          <input type="search" list="devices" v-model="keyword" placeholder="デバイス名を入力" autocomplete="on">
          <datalist id="devices">
            <option v-for="item in devices" v-bind:value=item.device v-bind:label=item.type[0].tips>{{item.device}}</option>
          </datalist>

          <input type="search" list="materials" v-model="mtr_name" placeholder="素材名から検索" autocomplete="on">
          <!-- <datalist id="materials">
            <option v-for="item in materials" v-bind:value=item.material >{{item.material}}</option>
          </datalist> -->
        </label>
        <input type="text" name="dummy" style="display:none;">
        <!-- 追加ボタンのモック -->
        <p></p>
        <table style="padding-top: 20px;">
          <tbody v-for="device in matcheMaterial">
            <template v-for="(item, i) in device.type" :key="item.id">
              <tr>
                <td v-if="i == 0" colspan="3" class="device name t_sp">{{device.device}}</td>
              </tr>
              <tr>
                <td v-if="i == 0" v-bind:rowspan="device.type.length*2" class="device t_pc">{{device.device}}</td>
                <td class="leftside">{{item.rank}}</td><td><input type="button" v-on:click="doAdd(device,item)" value="追加"></td>
                <td class="tips">{{item.tips}}</td>
              </tr>
              <tr>
                <td colspan="3" class="tips">
                  <span v-for="(mtr,i) in item.materials">
                    {{item.materials[i]}} {{item.material_num[i]}}コ
                  </span>
                </td>
              </tr>
            </template>
            <tr class="t_sp"><td colspan="2"><br></td></tr>
          </tbody>
        </table>
        <input type="button" onclick="submit();" value="送信" style="display:none;" />
    </form>
  <footer>
    <div>
      <p>参考文献</p>
      <p><a href="https://w.atwiki.jp/xenobladex/pages/39.html">デバイス - XenobladeX (ゼノブレイドクロス) 攻略 @Wiki</a></p>
      <p><a href="http://sugimo1998.la.coocan.jp/xenobladex/sozai.htm">ゼノブレイドクロス　素材リスト</a></p>
    </div>
  </footer>
    </div>
  </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./main.js"></script>
</body>

</html>