* {
    box-sizing: border-box;
}

p {
    margin: 0;
}
.tb_br {
    display: none;
    @media screen and (max-width: 1024px) {
        display: inline-block;
    }
}
.sp_br {

    display: none;
    @media screen and (max-width: 820px) {
        display: block;
    }
}
.sp_none {
    display: inline-block;
    @media screen and (max-width: 820px) {
        display: none;
    }
}
#app {
    max-width: 800px;
    margin: 0 auto;
    @media screen and (max-width:1024px) {
        max-width: 95%;
        h1{
            font-size: 20px;
        }
        h2 {
            font-size: 18px;
        }
        .checkbox{
            font-size: 14px;
        }
        table{
            font-size: 16px;
        }
        p {
            font-size: 15px;
        }
    }

    @media screen and (max-width: 820px) {
        p {
            font-size: 13px;
            line-height: 20px;
        }
    }

    .device {
        @media screen and (max-width: 820px) {
            font-weight: bold;
        }
    }
    .material {
        @media screen and (max-width: 820px) {
            font-size: 16px;
            font-weight: bold;
        }
    }
}

table {
    border-collapse: separate;
    table-layout: auto;
    width: 100%;

    th.state {
        width: 60px;
    }
    thead th {
        border-bottom: 2px solid #0099e4;
        /*#d31c4a */
        color: #0099e4;
    }
    td,th {
        padding: 0 8px;
        line-height: 40px;
        @media screen and (max-width: 820px) {
            padding: 0 4px;
            line-height: 25px;
        }
    }

    tbody tr {
        td,th {
            border-bottom: 1px solid #ccc;
            transition: all 0.4s;
            padding: 7px 0px;
            @media screen and (max-width: 820px) {
                padding: 3px 0px;
            }
        }
        td.button,td.state {
            text-align: center;
        }
    }
    .leftside {
        text-align: left;
    }
    td.button {
        width: 20px;
    }
    .t_sp {
        display: none;
    }
    .t_pc {
        display: table-cell;
    }
    @media screen and (max-width: 820px) {
        .t_pc {
            display: none;
        }
        .t_sp {
            display: table-cell;
        }
        .name {
            width: 100%;
            text-align: center;
        }
        .tips {
            font-size: 13px;
            font-weight: bold;
        }
    }
}

tbody tr.done td,
tbody tr.done th {
    background: #f8f8f8;
    color: #bbb;
}

tbody tr:hover td,
tbody tr:hover th {
    background: #f4fbff;
}

button,
input[type=button] {
    margin: 5px;
    border: none;
    border-radius: 20px;
    line-height: 24px;
    padding: 0 8px;
    background: #0099e4;
    color: #fff;
    cursor: pointer;
}

.inline-b {
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
}

.state button {
    margin: 5px 0;
}